<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
文章详情
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 文章详情 -->
<div class="container">
    <div class="row">
        <!-- 标题及作者 -->
        <h1 class="col-12 mt-4 mb-4">{{ article.title }}</h1>
        <div class="col-12 alert alert-success">作者：{{ article.author }}
            <!-- |<a href='#' onclick="confirm_delete()" > 删除文章</a>-->
            |<a href='#' onclick="confirm_csrf_avoidance_delete()" > 删除文章 </a>
            |<a href="{% url 'articles:article_update' article.id %}"> 编辑文章 </a>
            <!--hidden form -->
            <form
                         style="display:none;"
                         id="csrf_avoidance_delete"
                         action="{% url 'articles:article_csrf_avoidance_delete' article.id %}"
                         method="POST"
                         >
                         {% csrf_token %}
                         <button type="submit">send</button>
            </form>
        </div>
        <!-- 文章正文 -->
        <div class="col-12">
            <p>{{ article.body|safe }}</p>
        </div>
    </div>
</div>

<script>
    function confirm_delete(){
            layer.open({
                    title: "删除文章",
                    content: "确认删除这篇文章吗？",
                    yes: function(index, layero){
                            location.href='{% url "articles:article_delete" article.id %}'
                        },
                })
        }

    function confirm_csrf_avoidance_delete(){
            layer.open({
                    title: "删除文章",
                    content: "确认删除该文章吗？",
                    yes: function(index, layero){
                            $(`form#csrf_avoidance_delete button`).click();
                            layer.close(index);
                        },
                })
        }
</script>
{% endblock content %}
